*{
    font-family: "Fredoka", sans-serif;
}

body{
    height: 100vh;
    background-color: #ffffff;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAV BAR or HEADER */

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(10px);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    cursor: pointer;
    color: blue;
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Montez', cursive;
}

.navbar .menu-links {
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 50px;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

.navbar li {
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: rgba(0, 38, 255, 0.493);
    backdrop-filter: blur(10px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
}

.navbar li:hover{
    border-style: dotted;
    background-color: rgb(185, 140, 89);
    display: border;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 4px 8px rgb(0, 23, 156);
}

/* LOGIN-POP */

.login-pop{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 1px 1px 1px 1000px #0000006c;
    border-radius: 10px;
}

.login-pop .close-btn{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.login-pop .login-form h2{
    font-weight: 400;
    margin: 10px 0px 20px;
    font-size: 25px;
    color: #444444;
    padding-bottom: 20px;
    border-bottom: 2px solid #44444470;
}

.login-pop .login-form .login-form-element {
    margin: 15px 0px;
}

.login-pop .login-form .login-form-element label{
    font-size: 14px;
    color: #222;
}

.login-pop .login-form .login-form-element input[type="text"]{
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-pop .login-form .login-form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-pop .login-form .login-form-element button{
    width: 100%;
    margin-top: 15px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(0, 146, 7);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.login-pop .login-form .login-form-element p{
    display: block;
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
}

.login-pop .login-form .login-form-element a{
    cursor: pointer;
    color: blue;
    text-decoration: none;    
}


/* SIGN-POP */

.signin-pop{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 1px 1px 1px 1000px #0000006c;
    border-radius: 10px;
}

.signin-pop .Sclose-btn{   /* X */
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.signin-pop .signin-form h2{
    font-weight: 400;
    margin: 10px 0px 20px;
    font-size: 25px;
    color: #444444;
    padding-bottom: 20px;
    border-bottom: 2px solid #44444470;
}

.signin-pop .signin-form .signin-form-element {
    margin: 15px 0px;
}

.signin-pop .signin-form .signin-form-element label{
    font-size: 14px;
    color: #222;
}

.signin-pop .signin-form .signin-form-element input[type="text"]{
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signin-pop .signin-form .signin-form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signin-pop .signin-form .signin-form-element button{
    width: 100%;
    margin-top: 15px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(0, 146, 7);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.signin-pop .signin-form .signin-form-element p{
    display: block;
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
}

.signin-pop .signin-form .signin-form-element a{
    color: blue;
    text-decoration: none;
}

/* post */

.post {
    display: flex;
    margin: 100px;
    margin-top: 150px;
}

.post .post-content{
    justify-content: center;
}

.post .post-content h1{
    text-align: center;
}

.post .post-content .name-and-edit{
    display: flex;
    justify-content: space-between;
}

.post .post-content .name-and-edit .name{
    font-weight: 400;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    border: none;
}

.post .post-content .main-content{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    border: none;
}

.post .post-content .name-and-edit .edit-btn{
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #ed2553;
    border: none;
    box-shadow: 5px 15px 25px 0px #ed2554c2;
}

.post .post-content .name-and-edit .edit-btn{
    display: block;
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #ed2553;
    border: none;
    box-shadow: 5px 15px 25px 0px #ed2554c2;
}

.post .post-content .name-and-edit .save-btn{
    display: none;
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #ed2553;
    border: none;
    box-shadow: 5px 15px 25px 0px #ed2554c2;
}

.post .post-content .like-section .like-btn{
    display: block;
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ed2553;
    border: none;
    box-shadow: 5px 15px 25px 0px #ed2554c2;
}

.post .post-content .like-section .liked-btn{
    display: none;
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ed2553;
    border: none;
    box-shadow: 5px 15px 25px 0px #ed2554c2;
}

.post .post-content .like-section .like-p{
    display: block;
    margin-top: 25px;
    margin-bottom: 50px;
    color: gray;
}

.post .post-content .like-section .liked-p{
    display: none;
    margin-top: 25px;
    margin-bottom: 50px;
    color: gray;
}


.post .post-content .comment-section textarea{
    padding-bottom: 100px;
    padding-right: 700px;
}

.post .post-content .comment-section button{
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ed2553;
    border: none;
    box-shadow: 5px 15px 25px 0px #ed2554c2;
}

.post .post-content .comment-section .all-comment-box h1{
    margin-top: 50px;
    text-align: left;
    font-weight: 200;
    font-size: 20px;
}

.post .post-content .comment-section .all-comment-box .comments {
    background-color: #e2e4e6;
    padding: 1px;
    margin-bottom: 50px;
}

.post .post-content .comment-section .all-comment-box .comments .comment{
    background-color: white;
    margin: 20px;
    padding: 20px;
}